
.cart-section {
    min-height: 70%;
    padding: 30px;
}

.cart-table-header {
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cart-table {
    background-color: black;
    opacity: 0.9;
    margin-top: 50px;
    padding: 15px;
}

.cart-table-body {
    color: white;
}


.counter {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .value-button-decrease {
      background-color: red;
  }

  .value-button-increase {
    background-color: green;
}
  
  .value-button:hover {
    cursor: pointer;
  }
  
  .counter #decrease {
    border-radius: 8px 0 0 8px;
  }
  
  .counter #increase {
    border-radius: 0 8px 8px 0;
  }
  
  .counter #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  

.cart-image {
    height: 100px;
    width: 100px;
}

.padding-top {
    padding-top: 50px;
}

.min-width {
    min-width: 200px;
}

.table td, .table th { 
    vertical-align: middle;
}

.empty-cart-section {
  background-color: black;
  opacity: 0.8;
  margin-top: 50px;
  margin-bottom: 50px;
}

.center-div {
  display: flex;
  justify-content: center;
}

.back-to-shop {
  font-weight: bold;
  width: 500px;
  margin: 60px;
}

.emptyCart-text{
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2px;
  color: wheat;
  padding-top: 40px;
}

.emptyCart-desc {
  font-size: 15px;
  color:white;
  text-align: center;
}

.empty-cart {
  padding-top: 50px;
  height: 350px;
  width: 300px;
}