.info-section{
    margin-top: 25%;
    background-color: white;
    padding: 50px;
}


@media (max-width: 450px) {
    .info-section{
        padding: 0px;
    }
}

.login-section {
    margin-top: 15%;
    margin-bottom: 15%;
}

.content {
    height: 100%;
    width: 100%;
}

.disp-flex {
    display:flex;
}

.register-block {
    margin-top: -25%;
    padding-bottom: 50px;
}

@media (max-width: 450px) {
    .register-block {
        margin-top: 0px;
    }
}

.max-width-extend {
    max-width: 90% !important;
}

.description {
    padding:50px;
    font-size: 1em !important;
    line-height: 1.3em;
    color: #000;
    letter-spacing: 0.3px;
}

.shopping-button {
    width: 250px;
    padding: 15px;
    border-radius: 0.85rem;
    font-weight: bold;
    font-size: 1.25rem;

}

.center-div {
    display: flex;
    justify-content: center;
}

