.card-radius {
    border-radius: 1.5rem;
    background-color: black;
    opacity: 0.9;
    color: white;
    margin: 40px;
    padding: 20px;
}

@media (max-width: 450px) {
    .card-radius {
        margin-top: 30px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.login-header {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    color: white;
    opacity: 1;
}

.center-div {
    display: flex;
    justify-content: center;
}

.login-button {
    width: 60%;
}